asn1crypto==0.24.0
backports-abc==0.5
click==7.1.2
cryptography==2.1.4
enum34==1.1.6
fake-bpy-module-2.80==20200123
futures==3.3.0
gyp==0.1
idna==2.6
ipaddress==1.0.17
Jinja2==2.11.2
keyring==10.6.0
keyrings.alt==3.0
livereload==2.6.2
Markdown==3.1.1
MarkupSafe==1.1.1
mkdocs==1.0.4
pycrypto==2.6.1
pydevd-pycharm==192.6817.19
pygobject==3.26.1
pyxdg==0.25
PyYAML==5.3.1
SecretStorage==2.3.1
singledispatch==3.4.0.3
six==1.15.0
tornado==5.1.1
typing==3.7.4.1
